.card {
  box-sizing: border-box;
}
.row {
  box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
  .card {
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
  }
  .card-img-top {
    width: auto;
    height: 180px;
    margin-top: 0px;
    padding-left: 16px;
  }
  .card-body a {
    float: right;
  }
}
